*{
    padding: 0;
    margin: 0;
}

.card-body>.btn{
    border-radius: 25px 25px;
}

.card-body>img{
    width: 220px;
}

.pbtm {
    color: gray;
    font-size: 17px;
    text-decoration: none;
 }

.icn{
    color: red;
    width: 20px;
    height: 20px;
}